$font-color: #383838;

$key-color: #4f3594;
$accent-color: #da202a;
$accent-color-2: #0c7f8e;

$button-color: #4f3594;
$link-color: #0c7f8e;
// $button-color: #8863a8;

$light-background: #e2e3e2;

$inverted-font-color: #ffffff;
$inverted-background: #59616c;
// $inverted-background: #555555;
