/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
/*@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css'; */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/web/sans/NotoSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/web/sans/NotoSans-Condensed.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/web/sans/NotoSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Sans Condensed SemiBold';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/web/sans/NotoSans-CondensedSemiBold.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/web/serif/NotoSerif-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif Condensed Medium';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/web/serif/NotoSerif-CondensedMedium.woff2)
    format('woff2');
}
