/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
/*@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css'; */

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(/assets/fonts/web/NotoSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Serif Medium'), local('NotoSerif-Medium'),
    url(/assets/fonts/web/NotoSerif-Medium.woff2) format('woff2');
}
